/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1000px;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}
.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
.el-table {
  margin-top: 15px;
  font-size: 12px;
}
.el-pagination {
  margin-top: 15px;
}

/* 自定义按钮样式 */
.custom-button {
  background-color: #40b983;
  border-color: #40b983;
}
.custom-button:hover {
  background-color: #60d6a1;
  border-color: #60d6a1;
}
.custom-button:link {
  background-color: #60d6a1;
  border-color: #60d6a1;
}
